name: liblsl

on:
  push:
  pull_request:
    types: [ opened, ready_for_review, reopened, synchronize ]

env:
  LIBLSL_VERSION: v1.16.2
  BUILD_TYPE: Release
  INSTALL_PREFIX: install

jobs:
  build-android:
    name: build-${{ matrix.config.rid }}
    if: >-
      github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - rid: android-arm
            abi: armeabi-v7a

          - rid: android-arm64
            abi: arm64-v8a

          - rid: android-x64
            abi: x86_64

          - rid: android-x86
            abi: x86

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Clone liblsl
        run: |
          git clone https://github.com/sccn/liblsl.git
          pushd liblsl
          git checkout ${{ env.LIBLSL_VERSION }}
          popd

      - name: Run uname
        run: uname -m

      - name: Configure
        run: >
          cmake
          -S liblsl
          -B build
          -DCMAKE_SYSTEM_NAME=Android
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake
          -DANDROID_ABI=${{ matrix.config.abi }}
          -DANDROID_PLATFORM=android-21
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PREFIX }}
          -DLSL_BUILD_STATIC=OFF

      - name: Build & Install
        run: |
          pushd build
          make install
          popd

      - name: Run file command
        run: file ./${{ env.INSTALL_PREFIX }}/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: liblsl-${{ env.LIBLSL_VERSION }}-${{ matrix.config.rid }}
          path: ${{ env.INSTALL_PREFIX }}

  build-apple:
    name: build-${{ matrix.config.rid }}
    if: >-
      github.event.pull_request.draft == false
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - rid: ios-arm64
            os: OS64

          - rid: iossimulator-arm64
            os: SIMULATORARM64

          - rid: iossimulator-x64
            os: SIMULATOR64

          - rid: osx
            os: MAC_UNIVERSAL

          - rid: osx-arm64
            os: MAC_ARM64

          - rid: osx-x64
            os: MAC

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Clone liblsl
        run: |
          git clone https://github.com/sccn/liblsl.git
          pushd liblsl
          git checkout ${{ env.LIBLSL_VERSION }}
          popd

      - name: Run uname
        run: uname -m

      - name: Configure
        run: >
          cmake
          -S liblsl
          -B build
          -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/toolchains/ios-cmake/ios.toolchain.cmake
          -DPLATFORM=${{ matrix.config.os }}
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PREFIX }}
          -DLSL_BUILD_STATIC=OFF

      - name: Build & Install
        run: |
          pushd build
          make lsl
          popd
          mkdir -p ./${{ env.INSTALL_PREFIX }}
          cp -R ./liblsl/include ./${{ env.INSTALL_PREFIX }}
          mkdir -p ./${{ env.INSTALL_PREFIX }}/lib
          cp ./build/*.dylib ./${{ env.INSTALL_PREFIX }}/lib
          mkdir -p ./${{ env.INSTALL_PREFIX }}/lib/cmake/LSL
          cp ./build/LSL*.cmake ./${{ env.INSTALL_PREFIX }}/lib/cmake/LSL

      - name: Run file command
        run: file ./${{ env.INSTALL_PREFIX }}/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: liblsl-${{ env.LIBLSL_VERSION }}-${{ matrix.config.rid }}
          path: ${{ env.INSTALL_PREFIX }}

  build-linux:
    name: build-${{ matrix.config.rid }}
    if: >-
      github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - rid: linux-arm
            arch: arm
            gcc: arm-linux-gnueabihf

          - rid: linux-x64
            arch: x64
            gcc: gcc

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Clone liblsl
        run: |
          git clone https://github.com/sccn/liblsl.git
          pushd liblsl
          git checkout ${{ env.LIBLSL_VERSION }}
          popd

      - name: Run uname
        run: uname -m

      - name: Install gcc ${{ matrix.config.arch }} toolchain
        if: ${{ matrix.config.arch == 'arm' }}
        run: |
          sudo apt-get update
          sudo apt-get install gcc-${{ matrix.config.gcc }}
          sudo apt-get install g++-${{ matrix.config.gcc }}
          echo "ARM_C_COMPILER=${{ matrix.config.gcc }}-gcc" >> $GITHUB_ENV
          echo "ARM_CXX_COMPILER=${{ matrix.config.gcc }}-g++" >> $GITHUB_ENV

      - name: Configure
        run: >
          cmake
          -S liblsl
          -B build
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          ${{ matrix.config.arch == 'x64' && '-DCMAKE_C_COMPILER=gcc' || '-DCMAKE_C_COMPILER=$ARM_C_COMPILER' }}
          ${{ matrix.config.arch == 'x64' && '-DCMAKE_CXX_COMPILER=g++' || '-DCMAKE_CXX_COMPILER=$ARM_CXX_COMPILER' }}
          -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PREFIX }}
          -DLSL_BUILD_STATIC=OFF

      - name: Build & Install
        run: |
          pushd build
          make install
          popd

      - name: Run file command
        run: file ./${{ env.INSTALL_PREFIX }}/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: liblsl-${{ env.LIBLSL_VERSION }}-${{ matrix.config.rid }}
          path: ${{ env.INSTALL_PREFIX }}

  build-linux-arm64:
    name: build-linux-arm64
    if: >-
      github.event.pull_request.draft == false
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Clone liblsl
        run: |
          git clone https://github.com/sccn/liblsl.git
          pushd liblsl
          git checkout ${{ env.LIBLSL_VERSION }}
          popd

      - name: Run uname
        run: uname -m

      - name: Configure
        run: >
          cmake
          -S liblsl
          -B build
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PREFIX }}
          -DLSL_BUILD_STATIC=OFF

      - name: Build & Install
        run: |
          pushd build
          make install
          popd

      - name: Run file command
        run: file ./${{ env.INSTALL_PREFIX }}/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: liblsl-${{ env.LIBLSL_VERSION }}-linux-arm64
          path: ${{ env.INSTALL_PREFIX }}

  build-windows:
    name: build-${{ matrix.config.rid }}
    if: >-
      github.event.pull_request.draft == false
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - rid: win-arm64
            arch: ARM64
            crt: MD

          - rid: win-arm64-mt
            arch: ARM64
            crt: MT

          - rid: win-x64
            arch: x64
            crt: MD

          - rid: win-x64-mt
            arch: x64
            crt: MT

          - rid: win-x86
            arch: Win32
            crt: MD

          - rid: win-x86-mt
            arch: Win32
            crt: MT
        include:
          - generator: Visual Studio 17 2022

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Clone liblsl
        run: |
          git clone https://github.com/sccn/liblsl.git
          pushd liblsl
          git checkout ${{ env.LIBLSL_VERSION }}
          popd

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Patch CMakeLists.txt
        run: |
          python ${{ github.workspace }}/patch_cmakelists.py liblsl/CMakeLists.txt ${{ matrix.config.crt }}
          pushd liblsl
          git diff CMakeLists.txt
          popd

      - name: Print CMake version
        run: cmake --version

      - name: Configure
        run: >
          cmake
          -S liblsl
          -B build
          -G "${{ matrix.generator }}"
          -A ${{ matrix.config.arch }}
          -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/toolchains/msvc_static_crt.cmake"
          -DLSL_BUILD_STATIC=OFF
          -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PREFIX }}

      - name: Build & Install
        run: |
          cmake --build build --config ${{ env.BUILD_TYPE }} --target install

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: liblsl-${{ env.LIBLSL_VERSION }}-${{ matrix.config.rid }}
          path: ${{ env.INSTALL_PREFIX }}

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [ build-android, build-apple, build-linux, build-linux-arm64, build-windows ]

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7

      - name: List downloaded files
        run: ls -R

      - name: Print release version
        run: echo ${{ github.ref_name }}

      - name: Create archives
        run: |
          7z a liblsl-${{ env.LIBLSL_VERSION }}-android-arm-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-android-arm/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-android-arm64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-android-arm64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-android-x64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-android-x64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-android-x86-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-android-x86/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-ios-arm64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-ios-arm64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-iossimulator-arm64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-iossimulator-arm64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-iossimulator-x64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-iossimulator-x64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-linux-arm-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-linux-arm/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-linux-arm64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-linux-arm64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-linux-x64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-linux-x64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-osx-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-osx/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-osx-arm64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-osx-arm64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-osx-x64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-osx-x64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-win-arm64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-win-arm64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-win-arm64-dynamic-mt.zip ./liblsl-${{ env.LIBLSL_VERSION }}-win-arm64-mt/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-win-x64-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-win-x64/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-win-x64-mt-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-win-x64-mt/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-win-x86-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-win-x86/*
          7z a liblsl-${{ env.LIBLSL_VERSION }}-win-x86-mt-dynamic.zip ./liblsl-${{ env.LIBLSL_VERSION }}-win-x86-mt/*

      - name: Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          generate_release_notes: true
          files: |
            liblsl*.zip

# References:
# https://github.com/microsoft/vcpkg/tree/master/scripts/toolchains
# https://github.com/nihui/opencv-mobile
# https://github.com/sccn/liblsl/blob/master/.github/workflows/android.yml
# https://github.com/Slackadays/Clipboard/blob/main/.github/workflows/build-clipboard.yml
# https://learn.microsoft.com/en-us/dotnet/core/rid-catalog
# https://github.com/actions/checkout/issues/785
# https://stackoverflow.com/questions/71389239/mac-terminal-is-it-possible-to-create-a-folder-of-folder
# https://stackoverflow.com/questions/9794694/how-to-copy-directories-in-os-x-10-7-3
# https://github.com/leetal/ios-cmake
# [CMake build fails with Xcode 12 and CMAKE_IOS_INSTALL_COMBINED=YES](https://stackoverflow.com/questions/65550550/cmake-build-fails-with-xcode-12-and-cmake-ios-install-combined-yes)
# [Xcode cannot find .dylib alias, even though it's there](https://stackoverflow.com/questions/70018925/xcode-cannot-find-dylib-alias-even-though-its-there)
# [RPATH handling](https://gitlab.kitware.com/cmake/community/-/wikis/doc/cmake/RPATH-handling)
# [BundleUtilities macOS: failure resolving library with @rpath when LC_RPATH isn't set](https://gitlab.kitware.com/cmake/cmake/-/issues/16625)
# [What's the difference between CMAKE_INSTALL_PREFIX and CMAKE_INSTALL_RPATH](https://stackoverflow.com/questions/32047805/whats-the-difference-between-cmake-install-prefix-and-cmake-install-rpath)
# [why .so library become very big after compile with cmake?](https://stackoverflow.com/questions/47346448/why-so-library-become-very-big-after-compile-with-cmake)
# https://brainflow.readthedocs.io/en/stable/BuildBrainFlow.html#compilation-using-android-ndk
# [how to generate pdb files for Release build with cmake flags?](https://stackoverflow.com/questions/28178978/how-to-generate-pdb-files-for-release-build-with-cmake-flags)
# https://github.com/microsoft/vcpkg/blob/ee2d2a100103e0f3613c60655dcf15be7d5157b8/scripts/toolchains/windows.cmake#L94
# https://github.com/raylib-cs/raylib-cs/blob/master/Raylib-cs.Native/Raylib-cs.Native.csproj#L58
# [How to Force CMAKE_MSVC_RUNTIME_LIBRARY to be NON DEBUG for a dependency even in a debug build config](https://github.com/microsoft/vcpkg/discussions/43313)
# [[bug] CMakeToolchain: CMAKE_MSVC_RUNTIME_LIBRARY needs policy CMP0091 NEW](https://github.com/conan-io/conan/issues/10239)
# [[bug] The CMake policy CMP0091 must be NEW, but is ''](https://github.com/conan-io/conan/issues/15556)
# > Passing -DCMAKE_BUILD_TYPE specially hardcoding it in the recipe is problematic, specially for Visual Studio generator. 
# [[bug] CMake CMP0091 policy not applied by CMakeToolchain](https://github.com/conan-io/conan/issues/12458)
# [How can cmake_minimum_required required version impact generated files?](https://stackoverflow.com/questions/73474859/how-can-cmake-minimum-required-required-version-impact-generated-files)
# > set(CMAKE_MSVC_RUNTIME_LIBRARY "MultiThreaded$<$<CONFIG:Debug,MyDebug>:Debug>DLL" CACHE STRING "Rule for selecting MSVC runtime")
# liblsl v1.16.2 is still using cmake_minimum_required (VERSION 3.12), so set CMAKE_MSVC_RUNTIME_LIBRARY won't work.
