name: liblsl

on:
  push:
  pull_request:
    types: [ opened, ready_for_review, reopened, synchronize ]

env:
  BUILD_TYPE: Release
  INSTALL_PREFIX: install

jobs:
  build-windows:
    name: build-with-vcpkg(${{ matrix.setup_vcpkg }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - setup_vcpkg: false
          - setup_vcpkg: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone liblsl
        run: |
          git clone https://github.com/sccn/liblsl.git
          pushd liblsl
          git checkout ec8e8de784cee97379508fb05baf203480930690
          popd

      - name: Setup vcpkg
        if: matrix.setup_vcpkg == true
        run: |
          vcpkg integrate install
          vcpkg install boost-smart-ptr

      - name: Configure
        run: >
          cmake
          -S liblsl
          -B build
          -G "Visual Studio 17 2022"
          -A x64
          -DLSL_BUILD_STATIC=OFF
          -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PREFIX }}

      - name: Build & Install
        run: |
          cmake --build build --config ${{ env.BUILD_TYPE }} --target install
